html,body{
    margin:0;padding:0;
    font-size: 16px;
    font-family: "Epilogue", sans-serif;
    background-color: hsl(0, 0%, 98%);
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
body>*:not(:first-child){
    margin-top:60px;
}
body>*:last-child{
    margin-top: auto;
}
body>*{
    width:100%;
}
.container{
    width:calc(100% - 34px);
    max-width:1359px;
    margin:0 auto;
}
.only-desktop{
    display: none !important;
}
@media (min-width:900px){
    .only-mobile{
        display: none !important;
    }
    .only-desktop{
        display: flex !important;
    }
}